# Bỏ qua các thư mục bộ nhớ cache của Python
__pycache__/
*.py[cod]
*$py.class

# Bỏ qua các file checkpoint của Jupyter Notebook
.ipynb_checkpoints/

# Bỏ qua các file notebook Jupyter
*.ipynb

# Bỏ qua các file dữ liệu nặng (Data)
data/*.csv

# Bỏ qua các file trọng số và mô hình đã huấn luyện (Models)
models/*.h5
models/*.pkl

# Bỏ qua các file môi trường ảo (nếu bạn có dùng venv hoặc conda lưu tại thư mục này)
venv/
env/
.env

# Bỏ qua các biểu đồ hình ảnh sinh ra trong quá trình chạy thử
*.png
*.jpg